@model IEnumerable<ProyectoTelefonia.SubArea>

@{
    ViewBag.Title = "Home Page";
}


<div class="row">

    <div class="col-md-12">
        <h2>Listado General</h2>
        <p>@Html.ActionLink("Descargar", "ListadoInternos", null, new { @class = "glyphicon glyphicon-save", @style = "font-size: 16px;" })</p>
    </div>

    <!--vista parcial al listado de internos-->
    <div class="col-md-12">
        @Html.Partial("_ListadoInternos")
    </div>

</div>



