@model IEnumerable<ProyectoTelefonia.SubArea>

@{
    ViewBag.Title = "Home Page";
}



<!-- SCRIPT DE LA BARRA DE BUSQUEDA -->
<script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>

<script type="text/javascript">
        $(document).ready(function () {
            (function ($) {
                $('#filtrar').keyup(function () {
                    var rex = new RegExp($(this).val(), 'i');
                    $('.buscar tr').hide();
                    $('.buscar tr').filter(function () {
                        return rex.test($(this).text());
                    }).show();
                })
            }(jQuery));
        });
</script>

<script type="text/javascript">
        $(function () {
            $(window).load(function () {
                $(':input:visible:enabled:first').focus();
            });
        })
</script>


<div class="row">

    <div class="col-md-12">
        <h2>Listado General</h2>
        <p>@Html.ActionLink("Descargar", "ListadoInternos", null, new { @class = "glyphicon glyphicon-save", @style = "font-size: 16px;" })</p>
    </div>

    <!--vista parcial al listado de internos-->
    <div class="col-md-12">
        @Html.Partial("_ListadoInternos")
    </div>

</div>



